    <%- include('partials/header.ejs') %>

<body>
    <%- include('partials/navbar.ejs') %>    
    <div class="container">
   
        <h1>Resposta</h1>
    </div>
    <%- include('partials/navbar-footer.ejs') %>
</body>
    <%- include('partials/footer.ejs') %>